body{
    margin: 0;
    background-color: rgb(255, 243, 229);
    
}


.allcenter{
    background-color: rgb(255, 228, 202);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    padding-top: 10px;
}

.header{
    background-color: rgb(112, 147, 147);
    width: 780px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}

.imglogo{
    display: flex;
    width: 230px;
    margin-top: auto;
    margin-bottom: auto;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.sidebar{
    background-color: rgb(112, 113, 147);
    width: 780px;
    height: 40px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content:space-around;
    display:flex;
    border-radius: 5px;
}

a{
    background-color: rgb(190, 160, 84);
}
