body{
    margin: 0;
    background-color: #b8b8b8;
    width:100%; 
    overflow-x:hidden;
    max-height:auto; 
}


.allcenter{
    background-color: rgb(255, 228, 202);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    max-height:auto;  
}

.header{
    background-color: rgb(127, 175, 175);
    width: 480px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.imglogo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    height: auto;
    max-height:auto;
}

.sidebar{
    background-color: rgb(122, 122, 157);
    width: 480px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content:space-around;
    display:flex;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.content{
    width: 480px;
    height: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid black;
}

.content1{
    width: 480px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid black;
    min-height: auto;
    display: block;
    overflow: auto;
    
}

.imgnov{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
    height: auto;
    max-height:auto;
}
