body{
    width: 100%;
    margin: 0;
    display: inline;
}

img{
    max-width:100%;
    max-height:100%;
    margin-right: 50px;
 }

.header{
    width: 500px;
    height: 50px;
    background-color: blueviolet;
    justify-content:center;
    display: flex;
}

.sidebar{
    width: 430px;
    height: 40px;
    background-color: aquamarine;
    display:flex;
    justify-content:space-around;
    
}

a{
    display:flex;
    margin-top: auto;
    margin-bottom: auto; 
}
